
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=89c0d69430cc5b96aaac6c0b5ebb2eeb
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
